<!DOCTYPE html>
<html lang="en">

<head>
    <title>Phone Buddy - Gallery</title>
    <meta name="description"
        content="Get the best quality accesories you cand find for your smartphone right here, with just a simple click!">
    <%- include("../fragmente/head.ejs"); %>
    <link href="/Sources/css/galerie_statica.css" rel="stylesheet" type="text/css">
    <link href="/Sources/css/galerie-animata.css" rel="stylesheet" type="text/css">
    <!-- <link href="/Sources/css/galerie_statica_simpla.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
    <%- include("../fragmente/header.ejs"); %>
    <main>
        <h2>Gallery</h2>
        <div id="galerie-statica">
            <%  let nr_imag=0; 
                v_luni=["ianuarie", "februarie" , "martie" , "aprilie" , "mai"
                , "iunie" , "iulie" , "august" , "septembrie" , "octombrie" , "noiembrie"
                , "decembrie"] 
                for(let imag of locals.imagini){ 
                    if(nr_imag==12){
                        break;
                    }
                    d=new Date();
                    if (imag.luni && imag.luni.includes(v_luni[d.getMonth()])){
                    nr_imag ++; %>
                <figure>
                    <picture>
                        <source srcset="<%- imag.mic %>" media="(maxwidth:800px)">
                        <source srcset="<%- imag.mediu %>" media="(maxwidth:1200px)">
                        <img src="<%- imag.mare %>" alt="<%- imag.alt %>">
                    </picture>
                    <figcaption>
                        <%- imag.text_descriere %>
                    </figcaption>
                </figure>
                <% }} %>
        </div>


        <div id="cont-galerie-animata">
            <div id="galerie-animata">
                <%  
                    var temp = []
                    while(temp.length < locals.nrimag){
                        // if(imag.titlu.length > 12)
                        //   continue;
                        let random_image = locals.imagini[Math.floor(Math.random() * locals.imagini.length)];
                        if(!temp.includes(random_image))
                            temp.push(random_image);
                    }
                    for (let imag of temp){ 
                       
                        %>
                    <figure>
                        <picture>

                            <img src="/<%- imag.mare %>" alt="text">
                        </picture>
                        <figcaption><%- imag.titlu %></figcaption>
                    </figure>
                    <% } %>
            </div>
        </div>

    </main>
    <%- include("../fragmente/footer.ejs"); %>
    
</body>

</html>