<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Phone Buddy Sign Up">
        <meta name="keywords" content="Phone Buddy, user, registration, sign up">
        <link rel="stylesheet" href="/Sources/css/produse.css" type="text/css" />
        <title>Phone Buddy - Sign Up</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/Sources/js/inregistrare.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <% if(!locals.raspuns){%>
		
			<%-include("../fragmente/formular", {action: "/inreg"}) %>

        <% } %>
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>
    </div>
</main>

<footer>
    <%- include("../fragmente/footer") %>
</footer>

</body>
</html>