<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description"
        content="Get the best quality accesories you cand find for your smartphone right here, with just a simple click!">        
        <meta name="keywords" content="Phone Buddy, phone accessories, product">
        <style>
            #grid_prod{
                display:grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }

            figure{
                margin:0;
            }

            img{
                width:100% !important;
                height:auto;    
            }
        </style>
        <title>Phone Buddy - Product #<%- locals.prod.id %></title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Product page</h2>
                <article id="art-produs">
                    <div id ="grid_prod">
                        <span>
                            <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                            <p>Id: <span class="id"> art<%- locals.prod.id %> </span></p>
                            <p>Category: <span class="categorie"><% let temp = locals.prod.categorie.split("_").join(" ") %><%- temp %> </span></p>
                            <p>Product type: <span class="tip-produs"> <% let temp2 = locals.prod.tip_produs.split("_").join(" ") %><%- temp %> </span></p>
                            <p>Price: <span class="pret"><%- locals.prod.pret %> </span></p>
                            <p>Description: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                            <p>Color: <span class="culoare"><%- locals.prod.color %> </span></p>
                            <p>Materials: <span class="ingrediente"><%- locals.prod.materiale %> </span></p>
                            <p>Discount: <span class="calorii"><%- locals.prod.discount %> </span></p>
                            <p>Returnable: <span class="pt_diabetici"><%- locals.prod.pt_diabetici ? "Yes" : "No" %> </span></p>
                            
                            <% 
                                            const days = {
                                                "Mon": "Luni",
                                                "Tue": "Marti",
                                                "Wed": "Miercuri",
                                                "Thu": "Joi",
                                                "Fri": "Vineri",
                                                "Sat": "Sambata",
                                                "Sun": "Duminica"
                                            };

                                            const months = {
                                                "Jan": "Ianuarie",
                                                "Feb": "Februarie",
                                                "Mar": "Martie",
                                                "Apr": "Aprilie",
                                                "May": "Mai",
                                                "Jun": "Iunie",
                                                "Jul": "Iulie",
                                                "Aug": "August",
                                                "Sep": "Septembrie",
                                                "Oct": "Octombrie",
                                                "Nov": "Noiembrie",
                                                "Dec": "Decembrie"
                                            }

                                            const temp_data = prod.data_adaugare.toString().split(" ");
                                        %>
                            <p>Adding date: <time><%- temp_data[2] %>/<%- months[temp_data[1]]%>/<%- temp_data[3] %> (<%- days[temp_data[0]]%>)</time></p>
                        </span>
                        <figure class="imag-produs">
                            <img  src="/Sources/pictures/products/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                        </figure> 
                    </div>   
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>