<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - utilizatori.">
        <meta name="keywords" content="cofetarie, Dulcelind, utilizatori">
        <link rel="stylesheet" href="/Sources/css/useri.css" type="text/css" />
        <title>Phone Buddy - Users</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/Sources/js/produse.js></script>

		<style>
			#users_wrapper{
				display:grid;
				place-items:center;
				padding:5%;
				width:auto;
				border:2px solid var(--border-color);
				border-radius:10px;
				background-color: rgba(255, 255, 255, 0.221);
			}

			#useri {
				width:auto;
				border:0px solid transparent !important;
				padding:2%;
			}
			#useri td, #useri th {
				text-align: center;
				padding-top:1%;
				padding-bottom:1%;
				width:auto; 
			}

			#raspuns {
				border:2px solid var(--border-color);
				border-radius: 10px;
				background-color: rgba(255, 255, 255, 0.697);
				width: auto;
				height: auto;
				padding:1%;
			}

			#bills_btn {
				background-color: var(--highlight-color);
				color: var(--text-color) !important;
				padding: 2%;
				border: 2px solid var(--border-color);
				border-radius:10px;
			}

			#bills_btn > a {
				color:var(--text-color);
			}

			#bills_btn:hover {
				background-color:var(--another-color) ;
				cursor:pointer;
			}

		</style>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <h2>Users</h2>
		
		<div id="users_wrapper">
			<% if(locals.result) { %>
				<div id="raspuns">
					<% if(locals.result.startsWith("User")) { %>
						<p style="text-align:center; font-weight:bold; color:lime; font-size:1.3em;"> <%- locals.result %></p>
					<% } %>
					<% if(!locals.result.startsWith("User")) { %>
						<p style="text-align:center; font-weight:bold; color:red; font-size:1.3em;"> <%- locals.result %></p>
					<% } %>
				</div>
			<% } %>
			<table id="useri">
			<tr>
				<th>First Name</th><th>Last Name</th><th>Username</th><th>Email</th><th id="delete_column">Delete User Account</th>
			</tr>

			<% for (var i = 0; i < useri.length; i++) { 
					if(useri[i].rol=="comun"){
					%>
					<tr>
						<td><%= useri[i].prenume %></td>
						<td><%= useri[i].nume %></td>
						<td><%= useri[i].username %></td>
						<td><%= useri[i].email %></td>
						<td class="celula-sterge">
							<form id="sterge" method="post" action="/sterge_utiliz">
								<label style="display:none;">
									Id: <input type="text" name="id_utiliz" value="<%= useri[i].id %>">
								</label>
								
								<input class="delete_user_btn" type="submit" value="Delete User">
							</form>
						</td>
					</tr> 
	
					<% } %>			
			<% } %>
			</table>

			<br>
			<div id="bills_btn"><a href ="/facturi">Bills</a></div>
		</div>
		
		
	</div>
</main>


    <%- include("../fragmente/footer") %>

</body>
</html>